.assignmentPage {
  .main__topBox {
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main__centerBox {
    display: flex;
  }

  .questionsList {
    max-width: 320px;
    border: 1px solid $gray-400;
  }

  .questionItem {
    color: $gray-900;

    padding: 12px;
    transition: 0.7s;
    &:hover {
      color: $green;
    }

    &__topBox {
      font-size: $font-s;
      display: flex;
      justify-content: space-between;
      margin-bottom: 4px;
    }

    &__title {
      font-size: unset;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .questionItem-active {
    background-color: $gray-100;
  }

  .questionItem + .questionItem {
    border-top: 1px solid $gray-400;
  }

  .questionDetailBox {
    flex: 1;
    margin-left: 16px;
    position: relative;

    .border-gray {
      border: 1px solid $gray-400;
      margin-bottom: 16px;
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $gray-100;
      border-bottom: 1px solid $gray-400;
      padding: 16px 12px;
      color: $gray-900;

      .chapterName {
        font-size: $font-s;
      }
    }

    &__messagesList {
      padding: 16px 32px;
      max-height: 460px;
      overflow: scroll;
      overflow-x: hidden;
    }

    &__messageItem {
      display: flex;
      margin-bottom: 16px;

      .userAvatar {
        margin-right: 8px;
      }
    }

    .message {
      flex: 1;
      border-bottom: 1px solid $gray-400;
      padding-bottom: 16px;
      & > header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span + span {
          margin-left: 24px;
        }
      }

      &__content {
        font-size: $font-m;
        margin: 16px 0;
      }
    }

    &__footer {
      padding: 2px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .material-icons + .material-icons {
        margin-left: 23px;
      }

      .btn-primary {
        margin-left: 16px;
      }
    }
  }
}
