* {
  -webkit-margin-before: unset;
          margin-block-start: unset;
  -webkit-margin-after: unset;
          margin-block-end: unset;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #212529;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 32px;
}

dl,
ol,
ul {
  list-style: none;
  -webkit-padding-start: unset;
          padding-inline-start: unset;
  margin-bottom: 0;
}

.bgc-red {
  background-color: red;
}

.bgc-gray {
  background-color: #f8f9fa;
}

.list-style-disc {
  list-style-type: disc;
}

.list-style-disc > li {
  margin-left: 20px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-size: 1rem;
}

p {
  margin-bottom: unset;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: unset;
}

.font-lightgray {
  font-size: 12px;
  color: #6c757d;
}

.userAvatar {
  width: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 40px;
  border-radius: 50%;
}

.highlight-CSS {
  color: #198754;
  background-color: #f8f9fa;
}

.ml-auto {
  margin-left: auto;
}

.border-radius-2 {
  border-radius: 2px;
}

.sidebar {
  width: 300px;
  height: 100vh;
  color: #212529;
  background-color: #f8f9fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar__logo {
  background-image: url("../../assets/images/logo-ANSWER.svg");
  width: 150px;
  height: 40px;
  margin: 32px;
  background-size: 100% 100%;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
}

.sidebar__list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sidebar__listItem {
  padding: 4px 0;
  margin-bottom: 25px;
  -webkit-transition: .5s;
  transition: .5s;
}

.sidebar__listItem > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 31px;
}

.sidebar__listItem span {
  margin-right: 18px;
}

.sidebar__listItem:hover {
  color: #198754;
}

.sidebar .listItem-active {
  color: #198754;
  border-left: 4px solid #198754;
}

.sidebar__personalInfoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 32px 32px;
}

.sidebar__personalInfoBox > .info {
  margin-left: 16px;
}

.sidebar__personalInfoBox .name {
  font-size: unset !important;
  margin-bottom: unset;
}

.header {
  width: 100%;
  margin-bottom: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__leftBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__rightBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__rightBox > span {
  margin-left: 26px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__rightBox > span:hover {
  color: #198754;
}

.header__pageTitle {
  margin-right: 48px;
  font-size: 24px;
  line-height: 1.2;
}

.dropdown .btn {
  padding: 0.375em 0;
}

.dropdown > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.dropdown > a > span {
  color: #198754;
}

.dropdown > a > .color-black {
  color: black;
}

.dropdown-toggle::after {
  display: none;
}

.questionDetailBox .modal {
  top: unset;
  left: unset;
  height: unset;
}

.reply-modal {
  position: absolute !important;
  bottom: 0;
  right: 0;
  max-width: unset;
}

.reply-modal .modal-dialog {
  max-width: unset;
  height: 100%;
  margin: unset;
}

.reply-modal .modal-content {
  border-radius: unset;
  height: 320px;
}

.reply-modal .modal-header {
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  background-color: #f8f9fa;
}

.reply-modal .modal-header > span {
  margin-left: 30px;
  cursor: pointer;
  padding: 5px;
}

.reply-modal .modal-header > span:hover {
  color: #198754;
}

.reply-modal .modal-body {
  padding: unset;
}

.reply-modal .modal-body > textarea {
  padding: 15px;
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  outline: none;
}

.reply-modal .modal-footer {
  border-top: unset;
}

.btn {
  font-weight: bold;
}

.btn-primary {
  background-color: #198754;
  border-color: #198754;
}

.btn-primary:hover {
  background-color: #198754;
  border-color: #198754;
}

.btn-reverse {
  color: #198754;
  border: 1px solid #198754;
}

.btn-reverse-borderGray {
  width: 100%;
  padding: 16px 0;
  color: #198754;
  border: 1px solid #ced4da;
}

.btn-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
}

.btn-with-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-with-icon .material-icons {
  margin-right: 8px;
}

.btn-icon {
  line-height: 1;
  padding: 0;
  margin: 0;
}

.btn-icon > span {
  width: 22px;
  height: 15px;
}

.btn-icon .small {
  height: 12px;
  width: 12px;
}

.btn-disable {
  width: 100%;
  color: #ced4da;
  border: 1px solid #ced4da;
}

.icon-green {
  color: #198754;
}

.icon-black {
  color: black !important;
}

.icon-gray {
  color: #ced4da;
}

.icon-alert {
  color: red !important;
}

.pagination {
  border: 1px solid #198754;
}

.pagination li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid #198754;
  width: 32px;
  height: 32px;
}

.pagination li:first-child {
  border-left: unset;
}

.pagination .page-link {
  border: unset;
  background-color: unset;
  color: #212529;
  line-height: 1;
  padding: 7px 11px;
}

.pagination .page-link-active {
  background-color: #198754 !important;
}

.pagination .page-link-active > a {
  color: white !important;
}

.pagination .arrow-left,
.pagination .arrow-right {
  padding: 4px;
}

.edit-modal .modal-header {
  border-bottom: unset;
}

.edit-modal .modal-title {
  font-size: 24px;
  font-weight: bold;
}

.edit-modal label {
  margin-bottom: 4px;
}

.edit-modal .modal-inputText {
  padding: 16px;
  width: 100%;
  margin-bottom: 16px;
}

.edit-modal .modal-inputText:last-child {
  margin-bottom: 0;
}

.edit-modal .modal-body > div {
  border-bottom: 1px solid #ced4da;
  padding-bottom: 24px;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.edit-modal .modal-body > div:last-child {
  margin-bottom: 0;
}

.edit-modal .modal-body .time {
  font-size: 12px;
}

.edit-modal .modal-body h6 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 16px;
}

.edit-modal .dropdown {
  padding: 16px;
  width: 100%;
  border: 1px solid #212529;
}

.edit-modal .dropdown .material-icons {
  margin-left: auto;
}

.edit-modal .modal-footer {
  border-top: unset;
}

.user-detail-modal .modal-content {
  width: 480px;
}

.user-detail-modal .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-detail-modal img {
  width: 141px;
  height: 141px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 24px;
}

.user-detail-modal .userInfoBox {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-detail-modal .userInfoBox .topBox,
.user-detail-modal .userInfoBox .bottomBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-detail-modal .userInfoBox .centerBox {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.user-detail-modal .userInfoBox h3 {
  font-size: 24px;
}

.assignmentPage .main__topBox {
  margin-bottom: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.assignmentPage .main__centerBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.assignmentPage .questionsList {
  max-width: 320px;
  border: 1px solid #ced4da;
}

.assignmentPage .questionItem {
  color: #212529;
  padding: 12px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.assignmentPage .questionItem:hover {
  color: #198754;
}

.assignmentPage .questionItem__topBox {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4px;
}

.assignmentPage .questionItem__title {
  font-size: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.assignmentPage .questionItem-active {
  background-color: #f8f9fa;
}

.assignmentPage .questionItem + .questionItem {
  border-top: 1px solid #ced4da;
}

.assignmentPage .questionDetailBox {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 16px;
  position: relative;
}

.assignmentPage .questionDetailBox .border-gray {
  border: 1px solid #ced4da;
  margin-bottom: 16px;
}

.assignmentPage .questionDetailBox__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ced4da;
  padding: 16px 12px;
  color: #212529;
}

.assignmentPage .questionDetailBox__header .chapterName {
  font-size: 12px;
}

.assignmentPage .questionDetailBox__messagesList {
  padding: 16px 32px;
  max-height: 460px;
  overflow: scroll;
  overflow-x: hidden;
}

.assignmentPage .questionDetailBox__messageItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.assignmentPage .questionDetailBox__messageItem .userAvatar {
  margin-right: 8px;
}

.assignmentPage .questionDetailBox .message {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 1px solid #ced4da;
  padding-bottom: 16px;
}

.assignmentPage .questionDetailBox .message > header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.assignmentPage .questionDetailBox .message > header span + span {
  margin-left: 24px;
}

.assignmentPage .questionDetailBox .message__content {
  font-size: 14px;
  margin: 16px 0;
}

.assignmentPage .questionDetailBox__footer {
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.assignmentPage .questionDetailBox__footer .material-icons + .material-icons {
  margin-left: 23px;
}

.assignmentPage .questionDetailBox__footer .btn-primary {
  margin-left: 16px;
}

.adminPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.adminPage > main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.adminPage > footer .pagination {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}

.adminPage .table .functionsBox .btn-icon + .btn-icon {
  margin-left: 20px;
}

.adminPage .table .functionsBox > div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}
/*# sourceMappingURL=all.css.map */