* {
  margin-block-start: unset;
  margin-block-end: unset;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: $gray-900;
}
.wrap {
  // max-width: 1280px;
  // margin: 0 auto;
  display: flex;
}

.page {
  flex: 1;
  padding: 32px;
}

ul {
  list-style: none;
  padding-inline-start: unset;
}

.bgc-red{
    background-color:red;
}

.list-style-disc {
  list-style-type: disc;
  & > li{
      margin-left: 20px;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-size: 1rem;
}

p {
  margin-bottom: unset;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;

  &:hover {
    color: unset;
  }
}

.font-lightgray {
  font-size: $font-s;
  color: $gray-600;
}

.userAvatar {
  width: 40px;
  object-fit: cover;
  height: 40px;
  border-radius: 50%;
}

.btn-primary {
  background-color: $green;
  border-color: $green;

  &:hover {
    background-color: $green;
    border-color: $green;
  }
}

.btn-reverse {
  color: $green;
  font-weight: bold;
  border: 1px solid $green;
}

.btn-download {
  display: flex;
  align-items: center;
  font-weight: bold;
  background-color: $gray-100;
  border: 1px solid $gray-400;
}

.highlight-CSS {
  color: $green;
  background-color: $gray-100;
}

