* {
  margin-block-start: unset;
  margin-block-end: unset;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: $gray-900;
}
.wrap {
  // max-width: 1280px;
  // margin: 0 auto;
  display: flex;
}

.page {
  flex: 1;
  padding: 32px;
}

dl,
ol,
ul {
  list-style: none;
  padding-inline-start: unset;
  margin-bottom: 0;
}

.bgc-red {
  background-color: red;
}

.bgc-gray {
  background-color: $gray-100;
}

.list-style-disc {
  list-style-type: disc;
  & > li {
    margin-left: 20px;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-size: 1rem;
}

p {
  margin-bottom: unset;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;

  &:hover {
    color: unset;
  }
}

.font-lightgray {
  font-size: $font-s;
  color: $gray-600;
}

.userAvatar {
  width: 40px;
  object-fit: cover;
  height: 40px;
  border-radius: 50%;
}

.highlight-CSS {
  color: $green;
  background-color: $gray-100;
}

.ml-auto {
  margin-left: auto;
}

.border-radius-2 {
  border-radius: 2px;
}


