.dropdown {
  .btn {
    padding: 0.375em 0;
  }
  & > a {
    display: flex;
    align-items: center;

    & > span {
      // my own icon
      color: $green;
    }
  }

  &-toggle::after {
    // BS5 default dropdown icon
    display: none;
  }
}
