.header {
  width: 100%;
  //
  margin-bottom: 44px;
  display: flex;
  justify-content: space-between;
  &__leftBox {
    display: flex;
    align-items: center;
  }

  &__rightBox {
    display: flex;
    align-items: center;
    & > span {
      margin-left: 26px;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        color: $green;
      }
    }
  }

  &__pageTitle {
    margin-right: 48px;
    font-size: $font-l;
    line-height: 1.2;
  }

  
}
